/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #ff9900; color: #fff; text-shadow: none; }
::selection { background: #ff9900; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

[contenteditable]:hover { outline: 1px dotted #ccc; }

/* ==|== primary styles =====================================================
   Author: Kamil Moledys & Patrick Guido Arminio
   ========================================================================== */

h1, h2, h3, h4, h5, h6 { margin: 0; }
body { width: 640px; margin: 0 auto; }

#main-header { background: #ff9900; color: white; text-align: center; 
  font-family: 'Signika', sans-serif; padding: 10px 0 0; }
#main-header h1, #main-header h2 { margin: 0 0 10px; font-weight: normal; }

#main-header h1 { font-size: 36px; }
#main-header h2 { font-size: 28px; }
#main-header img { border-top: 1px solid #636363; width: 100%; }

h1.no-menu { text-align: center; }

section { margin: 0 0 20px; }
section h1 { background: #fdc689; color: white; display: inline-block; 
  padding: 2px 10px 2px 20px; font-weight: normal; border: 1px solid #ff9900; 
  border-left: none; }
section header { border-bottom: 1px solid #d3d3d3; padding: 0 0 10px; }
section h2 { margin: 10px 0 0; font-weight: normal; }
section p { margin: 0; color: #656565; }
section div.course { padding: 0 20px; }

#main { margin: 20px 0; position: relative; }
#date { color: #ff9900; position: absolute; top: 0; right: 10px;
  font-weight: normal; }

footer { background: #ececec; border-top: 1px solid #464646; color: #464646; 
  padding: 10px 20px 10px; font-size: 24px; position: relative; }

footer .newsletter input { position: absolute; top: 9px; right: 5px; 
  width: 200px; font-size: 14px; padding: 5px 10px; }
footer .newsletter button { position: absolute; top: 9px; right: -70px; 
  font-size: 14px; padding: 7px 10px; display: none; }
footer .newsletter.active button { display: block; } 

body.error500 {
  -webkit-animation-name: roll;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes roll {
  from {
    opacity: 0;
    -webkit-transform:rotate(0deg);
  }
  to {
    opacity: 1;
    -webkit-transform:rotate(360deg);
  }
}


#save { border: 0; background: #F90; color: white; padding: 4px 7px; }

/* Animation for mediaqueries, useless but nice */
header, h1, h2 { -moz-transition: all .5s linear; -webkit-transition: all .5s linear; transition: all .5s linear; }




/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (max-width: 640px) {
  #main { margin: 10px 0; }
  #main-header h1 { font-size: 26px; margin: 0 0 5px; }
  #main-header h2 { font-size: 22px; margin: 0 0 5px; }
  #date { top: 6px; right: 5px; font-size: 18px; }
  footer { font-size: 16px; overflow: hidden; }
  footer .newsletter { margin: 10px 0; }
  footer .newsletter input { position: static;
    width: 60%; font-size: 14px; padding: 5px 10px; float: left; }
  footer .newsletter button { position: static; margin: 0 0 0 10px;
    font-size: 14px; padding: 7px 10px; display: block; float: left; }

  body { width: 100%; }
}

@media only screen and (max-width: 320px) {
  #main-header { padding: 5px 0; }
  /* #main-header img { display: none; } */
  #main-header h1 { font-size: 22px; margin: 0 0 5px; }
  #main-header h2 { font-size: 18px; margin: 0 0 5px; }
}

@media only screen and (max-width: 319px) {
  body h2 { font-size: 16px; }

  #main-header h1 { font-size: 16px; margin: 0 0 5px; }
  #main-header h2 { font-size: 14px; margin: 0 0 5px; }
  #main-header img { display: none; }

  footer { font-size: 13px; }
  footer .newsletter input { width: 50%; }
}

/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
