{% spaceless %}
{% load chunks %}
{% endspaceless %}<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Unisa Menu - {% block title %}Home{% endblock %}</title>
  <meta name="description" content="{% block description %}{% chunk "default_description" %}{% endblock %}">

  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Signika:300,400' rel='stylesheet' type='text/css'>
  <!-- end CSS-->

  <script src="{{ STATIC_URL }}js/libs/modernizr-2.0.6.min.js"></script>

  {% if not DEBUG %}

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27620585-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  {% endif %}
</head>

<body class="{% block body-class %}{% endblock %}">

  <div id="container">
    <header id="main-header">
      <h1>Universit&agrave; degli studi di Salerno</h1>
      <h2>Menu Mensa</h2>
      <img src="{{ STATIC_URL }}img/header.jpg">
    </header>

    <div id="main" role="main">
      {% block content %}

      {% endblock %}
    </div>

    <footer>
      Created by patrick91 &amp; kamy22.
      {% if not request.session.subscribed %}
        <form class="newsletter" action="{% url mailing-list-subscribe %}" method="post">
          <input type="email" name="{{ mailing_list_form.email.name }}" placeholder="Iscriviti alla mailing list">
          <button type="submit">iscriviti</button>
          {% csrf_token %}
        </form>
      {% endif %}
    </footer>
  </div> <!--! end of #container -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  <script>window.info = {
    is_superuser: {{ user.is_superuser|lower }}
  }</script>
  <script src="{{ STATIC_URL }}js/init.js"></script>
  <!-- end scripts-->

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
