{% extends "base.html" %}
{% load menu_tags %}

{% block title %}{% spaceless %}
{% if menu %}
    Menu del {{ menu.day }}
{% else %}
{{ block.super }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block description %}{% spaceless %}
{% if menu %}
    Menu del {{ menu.day }}
{% else %}
{{ block.super }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block content %}

{% if menu.courses %}

{% regroup courses|dictsort:"type" by type as types %}

<h1 id="date">{{ menu.day }}</h1>

{% for type in types %}
    {% get_course_type type as course_type %}
    <section class="{{ course_type|lower }}">
        <header><h1>{{ course_type }}</h1></header>
        {% for course in type.list %}
            <div class="course" data-pk="{{ course.pk }}">
                <h2 class="name"{% if user.is_superuser %} contenteditable{% endif %}>{{ course }}</h2>
                {% if course.description or user.is_superuser %}
                <p class="description"{% if user.is_superuser %} contenteditable{% endif %}>{{ course.description }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </section>
{% endfor %}

{% if user.is_superuser %}
    <div id="message"></div>
    <button id="save" data-url="{% url save-courses %}">Save</button>
    {% csrf_token %}
{% endif %}

{% else %}
<h1 class="no-menu">Menu non presente</h1>
{% endif %}

{% endblock %}