{% extends "base.html" %}
{% load menu_tags %}

{% block title %}Iscriviti alla mailing list{% endblock %}

{% block description %}Iscriviti alla mailing list{% endblock %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Vai</button>
</form>

{% endblock %}
